# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [41]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [42]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/theomar/data-engineering-udacity/Project2

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [43]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [44]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [45]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [46]:
# TO-DO: Create a Keyspace 
session.execute("CREATE KEYSPACE if not exists event WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 }")

#### Set Keyspace

In [47]:
# TO-DO: Set KEYSPACE to the keyspace specified above
session.set_keyspace('event')

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [48]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

session.execute("create table if not exists query_by_sessionId_and_itemInSession(sessionId int,itemInSession int,artist text, song_title text,song_length double,primary key((sessionId,itemInSession)))")

In [49]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'
from decimal import Decimal
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        artist=line[0];
        sessionId=int(line[8])
        itemInSession=int(line[3])
        song_title=line[9]
        song_length=float(line[5])        
## TO-DO: Assign the INSERT statements into the `query` variable
        query = """INSERT INTO query_by_sessionId_and_itemInSession (sessionId,itemInSession,artist, song_title,song_length)VALUES (%s, %s, %s, %s,%s)"""
        #query = query + (sessionId, itemInSession, artist,song_title,song_length)
        session.execute(query,(sessionId, itemInSession, artist,song_title,song_length))
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        #session.execute(query, (line[#], line[#]))

#### Do a SELECT to verify that the data have been inserted into each table

In [50]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
rows= session.execute("SELECT artist, song_title FROM query_by_sessionId_and_itemInSession LIMIT 10")
for row in rows:
    print(row)

Row(artist='Los Rodriguez', song_title='Enganchate Conmigo')
Row(artist='The Gerbils', song_title='(iii)')
Row(artist='De-Phazz', song_title='Astrud Astronette')
Row(artist='Tom Waits', song_title="Whistlin' Past The Graveyard")
Row(artist='Jimmy Eat World', song_title='The Middle')
Row(artist='Jack Johnson', song_title='Better Together')
Row(artist='Moose', song_title='Do You Remember')
Row(artist='Fleetwood Mac', song_title='World Turning (LP Version)')
Row(artist='Goldfrapp', song_title='Lovely Head')
Row(artist='Pearl Jam', song_title='Encore Break')

In [52]:
rows= session.execute("SELECT artist, song_title FROM query_by_sessionId_and_itemInSession where sessionId=%s and itemInSession=%s",[338,4])
print(rows[0])

Row(artist='Faithless', song_title='Music Matters (Mark Knight Dub)')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: ResultSet indexing support will be removed in 4.0. Consider using ResultSet.one() to get a single row.

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [54]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
session.execute("create table if not exists query_by_userid_and_sessionid(sessionId int,userId int,itemInSession int,artist text, song_title text,first_name text,last_name text,primary key((userId,sessionId),itemInSession))")

file = 'event_datafile_new.csv'
from decimal import Decimal
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        userId=int(line[10])
        first_name=line[1]
        last_name=line[4]
        artist=line[0];
        sessionId=int(line[8])
        itemInSession=int(line[3])
        song_title=line[9]      
## TO-DO: Assign the INSERT statements into the `query` variable
        query = """INSERT INTO query_by_userid_and_sessionid (sessionId,userId,itemInSession,artist, song_title,first_name,last_name)VALUES (%s, %s, %s, %s,%s,%s,%s)"""
        #query = query + (sessionId, itemInSession, artist,song_title,song_length)
        session.execute(query,(sessionId, userId,itemInSession, artist,song_title,first_name,last_name))
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        #session.execute(query, (line[#], line[#]))

In [55]:
rows= session.execute("SELECT song_title,first_name, last_name FROM query_by_userid_and_sessionid LIMIT 10")
for row in rows:
    print(row)

Row(song_title='Sad Statue', first_name='Emily', last_name='Benson')
Row(song_title='Stranger Lover', first_name='Emily', last_name='Benson')
Row(song_title='Zero', first_name='Emily', last_name='Benson')
Row(song_title='Head Up (LP Version)', first_name='Kinsley', last_name='Young')
Row(song_title='Playa Hater (Amended Version)', first_name='Kinsley', last_name='Young')
Row(song_title='Stay (The Black Rose And The Universal Wheel)', first_name='Kinsley', last_name='Young')
Row(song_title="Roxane's Veil", first_name='Kinsley', last_name='Young')
Row(song_title='TRUE', first_name='Kinsley', last_name='Young')
Row(song_title="I'm Done", first_name='Kinsley', last_name='Young')
Row(song_title="I'm Down", first_name='Kinsley', last_name='Young')

In [56]:
rows= session.execute("SELECT song_title,first_name, last_name FROM query_by_userid_and_sessionid where userId=%s and sessionId=%s",[10,182])
for row in rows:
    print(row)

Row(song_title="Keep On Keepin' On", first_name='Sylvie', last_name='Cruz')
Row(song_title='Greece 2000', first_name='Sylvie', last_name='Cruz')
Row(song_title='Kilometer', first_name='Sylvie', last_name='Cruz')
Row(song_title='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', first_name='Sylvie', last_name='Cruz')

In [34]:
session.execute("create table if not exists query_by_song(first_name text,last_name text,song_title text,primary key((song_title)))")

In [35]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'


file = 'event_datafile_new.csv'
from decimal import Decimal
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        first_name=line[1]
        last_name=line[4]
        song_title=line[9]      
## TO-DO: Assign the INSERT statements into the `query` variable
        query = """INSERT INTO query_by_song (first_name,last_name,song_title)VALUES (%s, %s, %s)"""
        #query = query + (sessionId, itemInSession, artist,song_title,song_length)
        session.execute(query,(first_name,last_name,song_title))
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        #session.execute(query, (line[#], line[#]))

In [36]:
rows= session.execute("SELECT first_name, song_title, last_name FROM query_by_song LIMIT 10")
for row in rows:
    print(row)

Row(first_name='Chloe', song_title="Wonder What's Next", last_name='Cuevas')
Row(first_name='Chloe', song_title="In The Dragon's Den", last_name='Cuevas')
Row(first_name='Aleena', song_title='Too Tough (1994 Digital Remaster)', last_name='Kirby')
Row(first_name='Chloe', song_title='Rio De Janeiro Blue (Album Version)', last_name='Cuevas')
Row(first_name='Lily', song_title='My Place', last_name='Koch')
Row(first_name='Layla', song_title='The Lucky Ones', last_name='Griffin')
Row(first_name='Tegan', song_title='I Want You Now', last_name='Levine')
Row(first_name='Mohammad', song_title='Why Worry', last_name='Rodriguez')
Row(first_name='Kate', song_title='TvÃ\x83Â¡rÃ\x83Â\xad v TvÃ\x83Â¡r', last_name='Harrell')
Row(first_name='Kinsley', song_title="Lord Chancellor's Nightmare Song", last_name='Young')

In [ ]:
rows= session.execute("SELECT first_name, song_title, last_name FROM query_by_song where song_title= ")
for row in rows:
    print(row)

### Drop the tables before closing out the sessions

In [4]:
## TO-DO: Drop the table before closing out the sessions

In [38]:
session.execute("DROP TABLE query_by_sessionId_and_itemInSession;")
session.execute("DROP TABLE query_by_userid_and_sessionid;")
session.execute("DROP TABLE query_by_song;")

### Close the session and cluster connection¶

In [39]:
session.shutdown()
cluster.shutdown()